/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #3c3c3c;
  font-weight: 300;
  overflow-x: hidden;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */

/* MAIN COLORS */ /*light brown*/ /*lighter brown, mostly used for :hover*/


/* HEADERS */
h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}

/* PARAGRAPH */
.long-copy {
  line-height: 145%;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}

/* EXTEND CLASSES */
.button {
  font-weight: 400;
}

/* ROW WIDTH */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* SECTIONS */
section {
  padding: 5px;
}

/* LINK STYLE */
a {
  text-decoration: none;
  color: #726659
}
a:hover {
  color: #8f806f;
}

/* IMG FOR CAROUSEL */
.responsive-image {
  width: 100%;
  height: auto;
}

.hero {
  max-height: 105vh;
}

/* BUTTONS */
.button {
  font-size: 80%;
  color: #fff;
  text-transform: uppercase;
  width: 150px;
  margin: 25px auto;
  text-align: center;
  display: block;
  border: 1px solid #171312;
  padding: 8px;
  border-radius: 5px;
  background-color: #2d2a29
}
.button:hover {
  background-color: #8f806f;
  color: #fff;
}

/* ------------------------------------ */
/* HEADER/NAV */
/* ------------------------------------ */
.logo-container {
  padding: 50px 0 30px;
  background-color: #171312;
}
.logo-container p {/* LOGO TEXT */
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 170%;
  letter-spacing: 8px;
}

.logo-img {
  padding-bottom: 9px;
  display: block;
  margin: 0 auto;
  width: 150px;

}

.nav-container {
  background-color: rgba(0, 0, 0, 0.89);
  border-top: 1px dotted #726659;
}

nav {
  list-style: none;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 15px 15px;
  text-transform: uppercase;
}

.fade div {
  max-height: 50vh;
}

/* ------------------------------------ */
/* MAIN BODY */
/* ------------------------------------ */
.work-showcase {
  width: 90%;
  margin: 0 auto;
}
